<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
      
<head>
	<title>Developer Dashboard</title>
</head>
<body>
<h1>Developer Dashboard for ${username}</h1>

<h3>Updated in the last ${backDate} days</h3>

<table>
    <tbody>
    <py:for each="ticket in new_tickets">
    <tr>
        <td><a href="ticket/${ticket.id}">[${ticket.component}](${ticket.status}): ${ticket.summary}</a></td>
    </tr>
    </py:for>
    </tbody>
</table>
<h3>Status Changes in the last ${backDate} days</h3>
<ul>
    <py:for each="item in ticket_counts">
    <li><strong>${item.status}</strong> <em>${item.total}</em></li>
    </py:for>
</ul>

</body>
</html>    
