<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
      
<head>
	<title>Developer Dashboard</title>
</head>
<body>
<h1>Developer Dashboard for ${username}</h1>

<py:if test="has_new_tickets">
<div id="new_tickets">
    <h3>New Tickets in the last ${backDate} days</h3>

    <ul>
        <py:for each="ticket in new_tickets">
        <li><a href="ticket/${ticket.id}">[${ticket.component}] ${ticket.summary}</a></li>
        </py:for>
    </ul>
</div>
</py:if>

<py:if test="has_updated_tickets">
<div id="updated_tickets">
    <h3>Updated in the last ${backDate} days</h3>

    <ul>
        <py:for each="ticket in updated_tickets">
        <li><a href="ticket/${ticket.id}">[${ticket.component}](${ticket.status}): ${ticket.summary}</a></li>
        </py:for>
    </ul>
</div>
</py:if>

<py:if test="has_todo_tickets">
<div id="todo_tickets">
    <h3>To Do in the last ${backDate} days</h3>

    <ul>
        <py:for each="ticket in todo_tickets">
        <li><a href="ticket/${ticket.id}">[${ticket.component}](${ticket.status}): ${ticket.summary}</a></li>
        </py:for>
    </ul>
</div>
</py:if>

<py:if test="has_ticket_counts">
<div id="ticket_counts">
    <h3>Status Changes in the last ${backDate} days</h3>
    <ul>
        <py:for each="item in ticket_counts">
        <li><strong>${item.status}</strong> <em>${item.total}</em></li>
        </py:for>
    </ul>
</div>
</py:if>

<py:if test="has_milestones">
    <h3>Milestones</h3>
        <py:for each="item in milestone_data">
            <h4>${item.name}</h4>
            <div class="milestone-chart">
                <div class="bar">
                    <div class="item closed" style="width: ${item.closed_percent}%"></div>
                    <div class="item inprogress" style="width: ${item.inprogress_percent}%"></div>
                    <div class="item new" style="width: ${item.new_percent}%"></div>
                </div>

                <ul>
                    <li>Total: ${item.total}</li>
                    <li>Closed: ${item.closed_percent}%</li>
                    <li>In Progress: ${item.inprogress_percent}%</li>
                    <li>New: ${item.new_percent}%</li>
                </ul>
            </div>
        </py:for>
</py:if>

</body>
</html>    
